#tm-row-5b06b7a512016 {
        border-bottom-width: 1px!important;
        border-bottom-color: #eee;
        border-bottom-style: solid;
        padding-top: 100px!important;
        padding-bottom: 100px!important
    }

    #tm-heading-5b06b7a512568 .heading {
        font-size: 56px
    }

    #tm-heading-5b06b7a512568 {
        text-align: center
    }

    #tm-heading-5b06b7a512568 .heading {
        line-height: 1.28
    }

    #tm-spacer-5b06b7a512a82 {
        height: 65px
    }

    #tm-row-5b06b7a5159d5 {
        background-color: #f8f8f8
    }

    #tm-row-5b06b7a5159d5 {
        border-bottom-width: 1px!important;
        border-bottom-color: #eee;
        border-bottom-style: solid;
        padding-top: 100px!important;
        padding-bottom: 100px!important
    }

    #tm-heading-5b06b7a515de2 .heading {
        font-size: 56px
    }

    #tm-heading-5b06b7a515de2 {
        text-align: center
    }

    #tm-heading-5b06b7a515de2 .heading {
        line-height: 1.28
    }

    #tm-spacer-5b06b7a516294 {
        height: 65px
    }

    #tm-row-5b06b7a519bca {
        background-color: #f8f8f8
    }

    #tm-row-5b06b7a519bca {
        border-bottom-width: 1px!important;
        border-bottom-color: #eee;
        border-bottom-style: solid;
        padding-top: 100px!important;
        padding-bottom: 100px!important
    }

    #tm-heading-5b06b7a519fb1 .heading {
        font-size: 56px
    }

    #tm-heading-5b06b7a519fb1 {
        text-align: center
    }

    #tm-heading-5b06b7a519fb1 .heading {
        line-height: 1.28
    }

    #tm-spacer-5b06b7a51a415 {
        height: 65px
    }

    #tm-row-5b06b7a51bc63 {
        padding-top: 100px!important;
        padding-bottom: 100px!important
    }

    #tm-heading-5b06b7a51c013 .heading {
        font-size: 56px
    }

    #tm-heading-5b06b7a51c013 {
        text-align: center
    }

    #tm-heading-5b06b7a51c013 .heading {
        line-height: 1.28
    }

    #tm-spacer-5b06b7a51c46b {
        height: 65px
    }

    #tm-row-5b06b7a51e897 {
        border-top-width: 1px!important;
        border-top-color: #ededed;
        border-top-style: solid;
        padding-top: 100px!important;
        padding-bottom: 64px!important
    }

    @media(max-width: 992px) {
        #tm-column-5b06b7a51eb60>.vc_column-inner {
            margin-bottom:50px!important
        }
    }

    #tm-image-5b06b7a51ed0d {
        text-align: left
    }

    #tm-spacer-5b06b7a51f2c1 {
        height: 31px
    }

    #tm-heading-5b06b7a51f402 {
        text-align: left
    }

    #tm-heading-5b06b7a51f402 .heading {
        line-height: 2
    }

    #tm-column-5b06b7a520bd8>.vc_column-inner {
        padding-right: 30px!important;
        padding-left: 30px!important
    }

    #tm-row-inner-5b06b7a5216a9 {
        border-top-width: 1px!important;
        border-top-color: #eee;
        border-top-style: solid;
        padding-top: 36px!important;
        padding-bottom: 36px!important
    }

    #tm-column-inner-5b06b7a521d5c>.vc_column-inner {
        padding-left: 0!important
    }

    #tm-heading-5b06b7a521fcd .heading {
        font-size: 14px
    }

    #tm-heading-5b06b7a521fcd {
        text-align: left
    }

    #tm-heading-5b06b7a521fcd .heading {
        line-height: 1.71;
        color: #ababab
    }

    #tm-column-inner-5b06b7a5224f9>.vc_column-inner {
        padding-right: 0!important
    }

    #tm-social-networks-5b06b7a522715 {
        text-align: right
    }

    @media(max-width: 1199px) {
        #tm-heading-5b06b7a512568 .heading {
            font-size:46px
        }

        #tm-heading-5b06b7a515de2 .heading {
            font-size: 46px
        }

        #tm-heading-5b06b7a519fb1 .heading {
            font-size: 46px
        }

        #tm-heading-5b06b7a51c013 .heading {
            font-size: 46px
        }
    }

    @media(max-width: 992px) {
        #tm-heading-5b06b7a512568 .heading {
            font-size:36px
        }

        #tm-heading-5b06b7a515de2 .heading {
            font-size: 36px
        }

        #tm-heading-5b06b7a519fb1 .heading {
            font-size: 36px
        }

        #tm-heading-5b06b7a51c013 .heading {
            font-size: 36px
        }
    }

    @media(max-width: 767px) {
        #tm-heading-5b06b7a521fcd {
            text-align:center
        }

        #tm-social-networks-5b06b7a522715 {
            text-align: center
        }
    }

.wpb-js-composer .vc_tta.vc_tta-shape-square .vc_tta-panel-body .question{
    color: #2488ef;
    font-size: 18px;
}

@media(max-width: 767px) {
  .wpb-js-composer .vc_tta.vc_tta-shape-square .vc_tta-panel-body .question{
    display: none;
  }
}

#tm-row-5b06bcc1854de{
    border-bottom-width: 1px!important;
    border-bottom-color: #eee;
    border-bottom-style: solid;
    padding-top: 100px;
    padding-bottom: 100px;
}

.show-more-btn-wrapper{
  text-align: center;
  margin-bottom: 45px;
}

.page-footer-inner .wpb_column{
  min-height: 200px;
}

.page-slider .rev-btn{
   z-index: 8;
   min-width: 163px;
   max-width: 163px;
   white-space: nowrap;
   font-size: 16px;
   line-height: 46px;
   font-weight: 700;
   color: rgb(255, 255, 255);
   background-color: rgb(11, 136, 238);
   border-color: rgb(11, 136, 238);
   border-style: solid;
   border-width: 1px;
   border-radius: 5px;
   outline: none;
   box-shadow: none;
   box-sizing: border-box;
   cursor: pointer;
   text-decoration: none;
   visibility: inherit;
   transition: none;
   text-align: center;
   margin: 0px;
   padding: 0px 20px;
   letter-spacing: 0px;
   min-height: 48px;
   max-height: 48px;
   opacity: 1;
   transform-origin: 50% 50% 0px;
   transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
